@font-face {
    src: url(./assets/Gotham-Bold/Gotham\ Bold.otf);
    font-family: Gotham-Bold;
  }
  @font-face {
    src: url(./assets/Gotham-Rounded-Light/Gotham\ Rounded\ Light.otf);
    font-family: Gotham-round;
  }
  @font-face {
    src: url(./assets/HelveticaNeue/HelveticaNeue\ Light.ttf);
    font-family: Helvetica-light;
  }
  @font-face {
    src: url(./assets/HelveticaNeue/HelveticaNeue\ Medium.ttf);
    font-family: Helvetice-medium;
  }
  @font-face {
    src: url(./assets/HelveticaNeue/Helvetica\ Neu\ Bold.ttf);
    font-family: Helvetice-bold;
  }

  body {
      max-width: 1300px;
      font-family: Gotham-Bold, sans-serif;
  }

  header {
    font-family: Helvetica-light, sans-serif;
  }

  footer {
    width: 100%;
  }

  a {
    text-decoration: none;
    color: #888888;
  }

  button {
    border: none;
    background-color: white;
    z-index: 4;
  }

  input {
    border: none;
    margin-left: 1px;
    margin-right: 1px;
    padding-left: 5px;
    padding-right: 30px;
  }

  main {
    margin-top: 50px;
  }

  a:hover {
    color: #d35266;
  }
  .nav0 {
    top: 0;
    z-index: 10;
    position: fixed;
    width: 100%;
    height: 50px;
    color: white;
    background: repeating-linear-gradient(
    -45deg,
    #383838,
    #383838 1px,
    #383838e8 1px,
    #383838e8 2px
  )
  }

  .nav1 {
    width: 100%;
    height: 300px;
    color: white;
    background-color: #d35266;
    top: 50px;
  }
  .logo-img > img {
    width: 100px;
  }

  .home > a > i {
    font-size: 10px !important;
    padding-right: 20px;
  }

  .home {
    font-size: 11px;
    color: #888888;
  }

  .logo-img1 {
    margin: auto;
    width: 200px;
    margin-top: 80px;
    flex-wrap: nowrap;
  }

  .logo-img1 > i {
    font-size: 32px;
    margin-left: -1px;
  }

  .logo-img1 > img {
    margin-left: -33px;
  }

  .catchphrase {
   margin: auto;
   font-family: Gotham-bold , sans-serif;
  }

  .search {
    font-family: Gotham-round , sans-serif;
    font-size: 15px;
  }

  .search > button {
    line-height: 45px;
    padding-right: 35px;
    margin-right: 1px;
  }

  .search > i {
    padding-right: 5px;
  }

  .srch-button {
    margin-left: 10px;
    background-color: #383838;
    color: #888888;
  }
  
  .dove {
    z-index: 3 !important;
    font-size: 80px;
    font-size: 380px;
    overflow: hidden;
    opacity: 0.3;
    left: 30px;
  }

  .card-img > a {
    color: black;
  }

  .card-img > a > img {
    width: 100px;
  }

  .card-body {
    font-size: 11px;
    font-family: Gotham-round , sans-serif;
    font-weight: lighter;
    padding-left: 0;
  }

  ul {
    padding-left: 0;
    padding-right: 2rem;
    font-size: 11px;
    list-style: none;
  }

  footer > section:first-of-type {
    padding: 0 50px 0 50px;
    border-top: 1px solid #888888;
    border-bottom: 1px solid #888888;
  }

  .currency > div > div {
    text-align: right;
    color: #d35266;
  }

  .currency > div > input {
    border: 1px solid #888888;
    margin-left: 12px;
    text-align: center;
    padding-right: 0;
    font-family: Helvetice-bold , sans-serif;
  }

  .copyright {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  footer  a {
    font-family: Gotham-round, sans-serif !important;
  }

  footer h5 {
    color: #d35266;
    border-bottom: 1px solid #d35266;
    width: 85%;
  }

  @media screen and (max-width: 992px) {
    footer > section:first-of-type {
      padding: 0 10px 0 10px;
    }
  }