@font-face {
    src: url(./assets/Gotham-Bold/Gotham\ Bold.otf);
    font-family: Gotham-Bold;
  }
  @font-face {
    src: url(./assets/Gotham-Rounded-Light/Gotham\ Rounded\ Light.otf);
    font-family: Gotham-round;
  }
  @font-face {
    src: url(./assets/HelveticaNeue/HelveticaNeue\ Light.ttf);
    font-family: Helvetica-light;
  }
  @font-face {
    src: url(./assets/HelveticaNeue/HelveticaNeue\ Medium.ttf);
    font-family: Helvetice-medium;
  }
  @font-face {
    src: url(./assets/HelveticaNeue/Helvetica\ Neu\ Bold.ttf);
    font-family: Helvetice-bold;
  }

  body {
      font-family: Gotham-Bold, sans-serif;
      max-width: 100%;
  }

  header {
    font-family: Helvetica-light, sans-serif;
  }

  footer {
    width: 100%;
  }

  a {
    text-decoration: none;
    color: #888888;
  }

  button {
    border: none;
    background-color: white;
    z-index: 4;
  }

  input {
    border: none;
    margin-left: 1px;
    margin-right: 1px;
    padding-left: 5px;
    padding-right: 30px;
  }

  main {
    margin-top: 50px;
  }

  a:hover {
    color: #d35266;
  }
  .nav0 {
    max-width:100%;
    top: 0;
    z-index: 10;
    position: fixed;
    width: 100%;
    height: 50px;
    color: white;
    background: repeating-linear-gradient(
    -45deg,
    #383838,
    #383838 1px,
    #383838e8 1px,
    #383838e8 2px
  )
  }

  .nav1 {
    width: 100%;
    height: 300px;
    color: white;
    background-color: #d35266;
    top: 50px;
  }
  .logo-img > img {
    width: 100px;
  }

  .home > a > i {
    font-size: 10px !important;
    padding-right: 20px;
  }

  .home {
    font-size: 11px;
    color: #888888;
  }

  .logo-img1 {
    margin: auto;
    width: 200px;
    margin-top: 80px;
    flex-wrap: nowrap;
  }

  .logo-img1 > i {
    font-size: 32px;
    margin-left: -1px;
  }

  .logo-img1 > img {
    margin-left: -33px;
  }

  .catchphrase {
   margin: auto;
   font-family: Gotham-bold , sans-serif;
  }

  .search {
    font-family: Gotham-round , sans-serif;
    font-size: 15px;
  }

  .search > button {
    line-height: 45px;
    padding-right: 35px;
    margin-right: 1px;
  }

  .search > i {
    padding-right: 5px;
  }

  .srch-button {
    margin-left: 10px;
    background-color: #383838;
    color: #888888;
  }
  
  .dove {
    z-index: 3 !important;
    font-size: 80px;
    font-size: 380px;
    overflow: hidden;
    opacity: 0.3;
    left: 30px;
  }

  .card-img > a {
    color: black;
  }

  .card-img > a > img {
    width: 100px;
  }

  .card-body {
    font-size: 11px;
    font-family: Gotham-round , sans-serif;
    font-weight: lighter;
    padding-left: 0;
  }

  ul {
    padding-left: 0;
    padding-right: 2rem;
    font-size: 11px;
    list-style: none;
  }

  .special-holder h3 {
    font-size: 20px;
    padding-bottom: 20px;
  }

  .special {
    min-width: 93px;
  }

  .top-holder img{
    width: 100%;
    min-width: 300px;
    height: 100%;
  }

  .first-text {
    padding-left: 15px;
    margin-left: 5px;
  }

  .first-text h4 {
    font-size: 20px;
    padding-bottom: 10px;
    color: #d35266;
  }
  .first-text p {
    font-size: 13px;
    font-family: Helvetica-light, sans-serif;
  }

  .first-text span {
    font-size: 13px;
    font-family: Helvetice-medium, sans-serif;
  }

  .first-text button {
    font-family: Gotham-round, sans-serif;
    background-color: #d35266;
    color: white;
    padding: 5px 10px;
    margin-top: 15px;
    border-radius: 2px;
  }

  .first-text i {
    padding-left: 5px;
  }

  .top-part {
    padding-top: 25px;
  }

  .special-holder {
    padding: 0 13%;
  }

  .special-holder h3 {
    color: #888888;
  }

  .carousel-control-next {
    height: 100px;
    top: 470px;
    right: 10px;
  }

  .carousel-control-prev {
    height: 100px;
    top: 470px;
    left: 10px;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-image: none;
    color: #d35266;
    font-size: 25px;
    height: 50px;
    width: 50px;
    line-height: 2;
    border-radius: 50%;
    display: block;
    border: 1px solid #888888;
  }

  .carousel-control-prev-icon i {
    padding-right: 4px;
  }
  
  .carousel-control-next-icon i {
    padding-left: 4px;
  }


  footer > section:first-of-type {
    padding: 0 50px 0 50px;
    border-top: 1px solid #979797;
    border-bottom: 1px solid #979797;
  }

  .holder {
    padding-left: 10px;
  }

  .guitars {
    border-top: 1px solid #979797;
  }
  .guitars,
  .drums,
  .amps { 
    background-color: #8888880f;
  }

  .title1,
  .title-holder {
    display: flex;
    flex-direction: row;
    justify-content: left;
    line-height: 30px;
    color: #888888;
    font-family: Helvetice-medium , sans-serif;
  }

  .title-holder {
    width: 100%;
    border-bottom: 1px solid #979797;
  }

  .title1 i {
    color: #888888;
    padding-top: 5px;
    padding-right: 15px;
  }

  .title1 h4 {
    color: #383838;
    padding-right: 15px;
  }

  .card-holder {
    padding: 0 30px 0 30px;
  }

  .card-holder img {
    max-height: 160px;
    padding: 1px;
  }

  .card-holder .card {
    border-radius: 0;
  }

  .card-holder p {
    font-size: 12px;
    font-family: Helvetice-bold,sans-serif;
    margin-bottom: 2px;
    color: #383838;
  }

  .card-holder span {
    color: #d35266;
    font-family: Gotham-bold, sans-serif;
  }
  .card-holder .card-body {
    width: 100%;
    padding-top: 5px;
    padding-right: 0;

  }

  .card-body > div:first-of-type {
    font-family: Helvectica-light, sans-serif;
    color: #888888;
  }

  .card-body i {
    border: 1px solid #888888;
    padding: 5px;
    opacity: 0.5;
    margin-left: 5px;
  }

  .price {
    margin-top: 2px;
    margin-right: 15px;
    font-size: 14px;
    }

  .left,
  .right {
   line-height: 300px;
   width: 30%;
   font-size: 20px;
  }

  .right {
    text-align: right;
  }

  .currency > div > div {
    text-align: right;
    color: #d35266;
  }

  .currency > div > input {
    border: 1px solid #888888;
    margin-left: 12px;
    text-align: center;
    padding-right: 0;
    font-family: Helvetice-bold , sans-serif;
  }

  .copyright {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
    padding: 0 20px 0 10px;
  }

  .credit {
    padding: 13px 0 14px 0;
    font-size: 11px;
    font-family: Helvetica-light, sans-serif;
  }

  .icons {
    padding-top: 8px;
    font-size: 18px;
  }

  .icons a{
    padding-left: 15px;
  }

  footer  a {
    font-family: Gotham-round, sans-serif !important;
  }

  footer h5 {
    color: #d35266;
    border-bottom: 1px solid #d35266;
    width: 88%;
  }

  @media screen and (max-width: 992px) {
    footer > section:first-of-type {
      padding: 0 10px 0 10px;
    }
  }

  @media screen and (max-width: 767px) {
    .left,
    .right {
      display: none;
    }
  }